1 ICON "../data/doom.ico"

1 VERSIONINFO
PRODUCTVERSION 2017,10,02,2,3,0,20170825,0
FILEVERSION 2017,10,02,2,3,0,20170825,0
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileVersion", "2017.10.02.2.3.0.20170825"
   VALUE "FileDescription", "psdoom-ng"
   VALUE "InternalName", "psdoom-ng"
   VALUE "CompanyName", "psdoom-ng, Chocolate Doom"
   VALUE "LegalCopyright", "GNU General Public License"
   VALUE "ProductName", "psdoom-ng"
   VALUE "ProductVersion", "2017.10.02.2.3.0.20170825"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }
}

